<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="_activeModal.dismiss()"></button>
	<h4 class="modal-title">{{ R.R('ativar_adesivo_modal_editar_placa_titulo') }}</h4>
</div>
<div class="modal-body">
	<button id="btn-close" type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="_activeModal.dismiss()"></button>
	<h4 class="modal-body-header">{{ R.R('ativar_adesivo_modal_editar_placa_subtitulo') }}</h4>
	<h4 class="text-center text-title">Qual a <strong>placa</strong> do seu veiculo?</h4>
  <div class="plaque-preview plaque-adesivo">
  	<div class="image">
    	<svg width="300px" height="111px" viewBox="0 0 316 111" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    		<!-- Generator: Sketch 45.2 (43514) - http://www.bohemiancoding.com/sketch -->
    		<title>Placa</title>
    		<desc>Created with Sketch.</desc>
    		<defs></defs>
    		<g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    			<g id="Placa">
    				<g>
    					<g id="Group-3" transform="translate(19.000000, 15.452548)">
    						<rect id="Rectangle-4" stroke="#DADBDE" x="1.08203125" y="0.5" width="275.835938" height="15.4525483" rx="3"></rect>
    						<ellipse id="Oval" stroke="#D8DBDE" cx="267" cy="8.22627413" rx="3" ry="2.74209138"></ellipse>
    						<ellipse id="Oval-Copy" stroke="#D8DBDE" cx="10" cy="8.22627413" rx="3" ry="2.74209138"></ellipse>
    					</g>
    					<g id="Group-4" opacity="0.5" transform="translate(71.168945, 7.312244)" stroke="#D8DBDE" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
    						<path d="M0.421509974,1.37104569 L10.5377494,1.37104569" id="Line-3"></path>
    						<path d="M163.12436,1.37104569 L173.240599,1.37104569" id="Line-3-Copy"></path>
    					</g>
    					<g id="Group-4-Copy" opacity="0.5" transform="translate(71.168945, 102.041078)" stroke="#D8DBDE" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
    						<path d="M0.421509974,1.37104569 L10.5377494,1.37104569" id="Line-3"></path>
    						<path d="M163.12436,1.37104569 L173.240599,1.37104569" id="Line-3-Copy"></path>
    					</g>
    					<path d="M306,110.492028 C311.246705,110.492028 315.5,106.238733 315.5,100.992028 L315.5,10.6349291 C315.5,5.38822401 311.246705,1.13492913 306,1.13492913 L12.9508197,1.13492913 C6.06241665,1.13492913 0.5,6.09242899 0.5,12.1773379 L0.5,99.4496189 C0.5,105.534528 6.06241665,110.492028 12.9508197,110.492028 L306,110.492028 Z" id="Rectangle" stroke="#DADBDE"></path>
    				</g>
    			</g>
    		</g>
    	</svg>

	    <div class="text">
	      <fieldset class="placa-1">
	        <input required #plaque1Input
	          name="plaque"
	          id="plaque"
	          type="text"
	          placeholder="XXX"
	        >
	      </fieldset>

	      <fieldset class="placa-2">
	        <input required #plaque2Input
	          name="plaque2"
	          id="plaque2"
	          type="tel"
	          placeholder="0000"
	        >
	      </fieldset>
	    </div>
	  </div>
  </div>
</div>
<div class="row row-btns">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<button class="btn btn-boxed" [ngClass]="{ 'disabled': disabled }">{{ R.R('ativar_adesivo_modal_editar_placa_btn_salvar') }}</button>
	</div>
</div>
