<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Sans" />

<div class="view plaque-view">
  <h2 [innerHTML]="R.R('cadastro_plaque_titulo')"></h2>
  <div class="form-group">
    <app-placa #gnplaca [readonly]="false"></app-placa>

    <div class="action">
      <button
        onclick="history.back()"
        class="voltar"
      >{{ R.R('cadastro_plaque_btn_voltar') }}</button>

      <button
        (click)="add($event)"
        [ngClass]="{ adicionar: true, disabled: gnplaca.disabled }"
        class="avancar"
        id="next-button"
      >{{ R.R('cadastro_plaque_btn_avançar') }}</button>
    </div>
  </div>

  <div></div>
</div>
