<div class="container">
	<h1 class="page-title">Adesão ao Ponto a Ponto</h1>
	<div class="wrapper">
		<h3 class="page-subtitle">Deseja realmente realizar esta operação?</h3>
		<p class="p-important">Importante: Operação válida para adesão somente ao Ponto a Ponto da Rodovia Governador Adhemar Pereira de Barros (SP-340) - Jaguariúna.</p>
		<p class="p-link">Para mais informações sobre o Sistema Ponto a Ponto acesse o <a href="">Portal da ARTESP</a></p>
		<div class="row row-btns">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
				<button type="button" class="btn btn-vazado" (click)="back($event)">voltar</button>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
        <button type="button" class="btn btn-boxed" (click)="submit()">aderir</button>
			</div>
		</div>
	</div>
</div>
