<cc-header [restrict]="true"></cc-header>

<div class="container-fluid container-flux">
  <div class="row">
    <div class="col-lg-12">
      <div class="justify-content">
        <div class="area-indisponivel valign">
          <div class="ico"></div>

          <h1>Ops! Esta área está indisponível no momento</h1>
          <p>Parece que o link que está tentando acessar não existe ou mudou de endereço </p>

          <div class="text-center m-b-md">
            <button class="btn btn-boxed" routerLink="/planos">Voltar para home</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<cc-footer></cc-footer>
