<footer>
	<div class="footer-container">
		<div class="logo"></div>
		<div class="foot-container">
			<div class="foot-col f-left">
		    <nav class="paginas">
		      <ul>
		        <li><a href="/?page_id=225">{{R.R('footer_quem_somes')}}</a></li>
		        <li><a href="/?page_id=234">{{R.R('footer_trabalhe_conosco')}}</a></li>
		        <li><a href="/?page_id=345">{{R.R('footer_impresa')}}</a></li>
		      </ul>
		    </nav>
        <nav class="paginas">
          <ul>
            <li><a href="/?page_id=358">{{R.R('footer_onde_comprar')}}</a></li>
		        <li><a href="/?page_id=452">{{R.R('footer_ajuda')}}</a></li>
		        <li><a href="/?page_id=351">{{R.R('footer_politica_privacidade')}}</a></li>
          </ul>
        </nav>
        <nav class="paginas">
          <ul>
            <li><a href="/?page_id=349">{{R.R('footer_termos_uso')}}</a></li>
		        <li><a href="/?page_id=478">{{R.R('footer_sobre_cookies')}}</a></li>
		        <li><a href="#">{{R.R('footer_responsabilidades')}}</a></li>
          </ul>
        </nav>
			</div>
			<div class="foot-col m-top f-right">
		    <nav class="redes-sociais">
		    	<h5>{{R.R('footer_redes_sociais')}}</h5>
		    	<ul class="list-icon">
		        <li><a href="#" class="facebook">Facebook</a></li>
		        <li><a href="#" class="twitter">Twitter</a></li>
		        <li><a href="#" class="instagram">Instagram</a></li>
		        <li><a href="#" class="linkedin">Linkedin</a></li>
		    	</ul>
		    </nav>
		    <nav class="aplicativo">
		    	<h5>{{R.R('footer_baixe_app')}}</h5>
		    	<ul class="list-icon">
		        <li><a href="" class="android">Android</a></li>
		        <li><a href="" class="ios">IOS</a></li>
		    	</ul>
		    </nav>
			  <div class="recipiente">
			    <div class="site-seguro">
			      <a href="#">Navegue a vontade - Google Site Seguro</a>
			    </div>
			  </div>
			</div>
		</div>
	</div>
  <div class="copyright">
  	{{R.R('footer_copyright')}}
  </div>
</footer>
