<div class="hide-on-desktop">
  <cc-header [origin]="'login'"></cc-header>
</div>

<h2 id="cpf-nao-encontrado">{{R.R('login_cpf_nao_encontrado_titulo_texto_1')}}<br>{{R.R('login_cpf_nao_encontrado_titulo_texto_2')}}</h2>

<div class="info-wraper">
  <h3>{{R.R('login_cpf_nao_encontrado_plano_texto')}}</h3>
  <button type="button" class="btn btn-boxed colored" id="botao-planos" routerLink="/planos">{{R.R('login_cpf_nao_encontrado_plano_botao')}}</button>
</div>
<div class="info-wraper spacing">
  <h3>{{R.R('login_cpf_nao_encontrado_ativar_texto_1')}}<br>{{R.R('login_cpf_nao_encontrado_ativar_texto_2')}}</h3>
  <button type="button" class="btn btn-boxed" id="botao-ativar" routerLink="">{{R.R('login_cpf_nao_encontrado_ativar_botao')}}</button>
</div>
