<div class="container">
	<h1 class="page-title">Adesão ao Ponto a Ponto</h1>
	<div class="wrapper-confirmed">
		<div class="wrapper-icon"></div>
		<h3 class="page-subtitle">Adesão confirmada!</h3>
		<p class="p-important">A partir de agora você irá pagar o valor mais próximo ao trecho efetivamente percorrido na Rodovia Governador Adhemar Pereira de Barros (SP-340) - Jaguariúna.</p>
		<button type="button" class="btn btn-bordered" (click)="goExtrato()">Voltar ao Meu extrato</button>
		<p class="p-link">Para aderir o Sistema Ponto a Ponto para outras Contas ConectCar entre em contato com nossa<br /><a href="">Central de Relacionamento</a></p>
	</div>
</div>
