<div
  class="spinner"
  >
  <svg
    [attr.width]="size"
    [attr.height]="size"
    viewBox="0 0 66 66"
    xmlns="http://www.w3.org/2000/svg"
  >
    <circle
      class="path"
      fill="none"
      stroke-linecap="round"
      [attr.stroke-width]="stroke"
      cx="33"
      cy="33"
      r="30"
      [attr.stroke]="color"
    ></circle>
  </svg>

    <!--svg
      [attr.width]="size"
      [attr.height]="size"
      [attr.viewBox]="'0 0 ' + size + ' ' + size"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle
        class="path"
        fill="none"
        stroke-linecap="round"
        [attr.stroke-width]="size/10"
        [attr.cx]="size/2"
        [attr.cy]="size/2"
        [attr.r]="size/2.3"
        [attr.stroke]="color"
      ></circle>
    </svg-->
</div>
