<div class="container-legal">
	<div class="legal-header" [ngSwitch]="term">
		<h2 *ngSwitchCase="'termos'">Termos de Uso</h2>
		<h2 *ngSwitchCase="'politicas'">Política de Privacidade</h2>
	</div>
	<div class="legal-content" [ngSwitch]="term">
		<div *ngSwitchCase="'termos'">		
			<p>O presente TERMO DE ADESÃO ÚNICO regula as condições de prestação dosserviços CONECTCAR para PESSOA FÍSICA e contém CONDIÇÕES ESPECÍFICAS, aplicáveis individualmente para cada plano vigente, bem como CONDIÇÕES GERAIS comuns a todos os planos oferecidos pela CONECTCAR na data de ADESÃO/ATIVAÇÃO.</p>
			<p>Ao optar por um dos planos disponibilizados pela CONECTCAR, no ato da ADESÃO/ATIVAÇÃO, o USUÁRIO adere e se vincula à SEÇÃO específica deste TERMO DE ADESÃO ÚNICO, aplicável ao plano por ele escolhido, e às CONDIÇÕES GERAIS válidas para todos planos CONECTCAR vigentes:</p>
			<p>SEÇÃO A. CONDIÇÕES ESPECÍFICAS PARA PLANO LIVRE:</p>
			<p>1. O SALDO deverá ser obtido diretamente pelo USUÁRIO por meio de CARGA e/ou RECARGA, conforme condições vigentes disponibilizadas no website www.conectcar.com.</p>
			<p>2. O USUÁRIO pagará à CONTRATADA o CUSTO DE CARGA e/ou RECARGA, acrescido dos tributos incidentes sobre os serviços utilizados, que serão recolhidos em conformidade com a legislação aplicável.</p>
			<p>3. Caso o SALDO do TAG se torne insuficiente para débito de TRANSAÇÕES, gerando com isso SALDO DEVEDOR, a CONTRATADA poderá emitir boleto bancário para cobrança do valor correspondente, sob o qual poderão incidir os encargos previstos na Cláusula 34 das CONDIÇÕES GERAIS deste TERMO DE ADESÃO ÚNICO.</p>
			<p>4. O USUÁRIO declara-se ciente de que o SALDO deverá ser utilizado nas praças de pedágio de CONCESSIONÁRIAS e/ou PARCEIROS CONVENIADOS, conforme relação constante no website da CONTRATADA.</p>
			<p>O presente TERMO DE ADESÃO ÚNICO regula as condições de prestação dosserviços CONECTCAR para PESSOA FÍSICA e contém CONDIÇÕES ESPECÍFICAS, aplicáveis individualmente para cada plano vigente, bem como CONDIÇÕES GERAIS comuns a todos os planos oferecidos pela CONECTCAR na data de ADESÃO/ATIVAÇÃO.</p>
			<p>Ao optar por um dos planos disponibilizados pela CONECTCAR, no ato da ADESÃO/ATIVAÇÃO, o USUÁRIO adere e se vincula à SEÇÃO específica deste TERMO DE ADESÃO ÚNICO, aplicável ao plano por ele escolhido, e às CONDIÇÕES GERAIS válidas para todos planos CONECTCAR vigentes:</p>
			<p>SEÇÃO A. CONDIÇÕES ESPECÍFICAS PARA PLANO LIVRE:</p>
			<p>1. O SALDO deverá ser obtido diretamente pelo USUÁRIO por meio de CARGA e/ou RECARGA, conforme condições vigentes disponibilizadas no website www.conectcar.com.</p>
			<p>2. O USUÁRIO pagará à CONTRATADA o CUSTO DE CARGA e/ou RECARGA, acrescido dos tributos incidentes sobre os serviços utilizados, que serão recolhidos em conformidade com a legislação aplicável.</p>
			<p>3. Caso o SALDO do TAG se torne insuficiente para débito de TRANSAÇÕES, gerando com isso SALDO DEVEDOR, a CONTRATADA poderá emitir boleto bancário para cobrança do valor correspondente, sob o qual poderão incidir os encargos previstos na Cláusula 34 das CONDIÇÕES GERAIS deste TERMO DE ADESÃO ÚNICO.</p>
			<p>4. O USUÁRIO declara-se ciente de que o SALDO deverá ser utilizado nas praças de pedágio de CONCESSIONÁRIAS e/ou PARCEIROS CONVENIADOS, conforme relação constante no website da CONTRATADA.</p>
		</div>
		<div *ngSwitchCase="'politicas'">		
			<p>O presente TERMO DE ADESÃO ÚNICO regula as condições de prestação dosserviços CONECTCAR para PESSOA FÍSICA e contém CONDIÇÕES ESPECÍFICAS, aplicáveis individualmente para cada plano vigente, bem como CONDIÇÕES GERAIS comuns a todos os planos oferecidos pela CONECTCAR na data de ADESÃO/ATIVAÇÃO.</p>
			<p>Ao optar por um dos planos disponibilizados pela CONECTCAR, no ato da ADESÃO/ATIVAÇÃO, o USUÁRIO adere e se vincula à SEÇÃO específica deste TERMO DE ADESÃO ÚNICO, aplicável ao plano por ele escolhido, e às CONDIÇÕES GERAIS válidas para todos planos CONECTCAR vigentes:</p>
			<p>SEÇÃO A. CONDIÇÕES ESPECÍFICAS PARA PLANO LIVRE:</p>
			<p>1. O SALDO deverá ser obtido diretamente pelo USUÁRIO por meio de CARGA e/ou RECARGA, conforme condições vigentes disponibilizadas no website www.conectcar.com.</p>
			<p>2. O USUÁRIO pagará à CONTRATADA o CUSTO DE CARGA e/ou RECARGA, acrescido dos tributos incidentes sobre os serviços utilizados, que serão recolhidos em conformidade com a legislação aplicável.</p>
			<p>3. Caso o SALDO do TAG se torne insuficiente para débito de TRANSAÇÕES, gerando com isso SALDO DEVEDOR, a CONTRATADA poderá emitir boleto bancário para cobrança do valor correspondente, sob o qual poderão incidir os encargos previstos na Cláusula 34 das CONDIÇÕES GERAIS deste TERMO DE ADESÃO ÚNICO.</p>
			<p>4. O USUÁRIO declara-se ciente de que o SALDO deverá ser utilizado nas praças de pedágio de CONCESSIONÁRIAS e/ou PARCEIROS CONVENIADOS, conforme relação constante no website da CONTRATADA.</p>
			<p>O presente TERMO DE ADESÃO ÚNICO regula as condições de prestação dosserviços CONECTCAR para PESSOA FÍSICA e contém CONDIÇÕES ESPECÍFICAS, aplicáveis individualmente para cada plano vigente, bem como CONDIÇÕES GERAIS comuns a todos os planos oferecidos pela CONECTCAR na data de ADESÃO/ATIVAÇÃO.</p>
			<p>Ao optar por um dos planos disponibilizados pela CONECTCAR, no ato da ADESÃO/ATIVAÇÃO, o USUÁRIO adere e se vincula à SEÇÃO específica deste TERMO DE ADESÃO ÚNICO, aplicável ao plano por ele escolhido, e às CONDIÇÕES GERAIS válidas para todos planos CONECTCAR vigentes:</p>
			<p>SEÇÃO A. CONDIÇÕES ESPECÍFICAS PARA PLANO LIVRE:</p>
			<p>1. O SALDO deverá ser obtido diretamente pelo USUÁRIO por meio de CARGA e/ou RECARGA, conforme condições vigentes disponibilizadas no website www.conectcar.com.</p>
			<p>2. O USUÁRIO pagará à CONTRATADA o CUSTO DE CARGA e/ou RECARGA, acrescido dos tributos incidentes sobre os serviços utilizados, que serão recolhidos em conformidade com a legislação aplicável.</p>
			<p>3. Caso o SALDO do TAG se torne insuficiente para débito de TRANSAÇÕES, gerando com isso SALDO DEVEDOR, a CONTRATADA poderá emitir boleto bancário para cobrança do valor correspondente, sob o qual poderão incidir os encargos previstos na Cláusula 34 das CONDIÇÕES GERAIS deste TERMO DE ADESÃO ÚNICO.</p>
			<p>4. O USUÁRIO declara-se ciente de que o SALDO deverá ser utilizado nas praças de pedágio de CONCESSIONÁRIAS e/ou PARCEIROS CONVENIADOS, conforme relação constante no website da CONTRATADA.</p>
		</div>
	</div>
	<div class="legal-footer">
		<button type="button" class="btn btn-boxed" (click)="closeTerms()">entendi</button>
	</div>
</div>