<div class="container-fluid container-flux">
	<div class="row">
		<div class="col-lg-6 col-bg">
			<div class="bg-img image"></div>
			<div class="logconectcar"></div>
			<div class="txt-content">
				<div class="valign">
          <cc-baixe-app></cc-baixe-app>
        </div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="justify-content">
				<div class="valign">
					<div class="text-center">
						<span class="logo_conectcar"></span>
					</div>

					<div class="image-checked"></div>
					<h4 class="m-b-md">{{ R.R('ativação_realizada_titulo') }}</h4>

					<p>{{ R.R('ativacao_realizada_subtitulo') }}</p>
          <p>{{ R.R('ativacao_realizada_informativo') }}</p>
          <p>{{ R.R('ativacao_realizada_subinformativo') }}</p>				  

					<div class="text-center m-b-md m-t-lgg">
						<button class="btn btn-boxed" routerLink="/pedidos">{{ R.R('ativacao_realizada_btn_como_instalar') }}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<cc-footer></cc-footer>
