<cc-header [restrict]="true"></cc-header>

<div class="container-fluid container-page">
	<div class="container">
		<h1 class="page-title">
			{{ R.R('ativacao_titulo') }}
			<div class="contadores">
				<span class="ativacao">Ativação</span>
				<span class="contador">Adesivo 1 de 3</span>
			</div>
		</h1>
		<div class="contadores xs">
			<span class="ativacao">Ativação</span>
			<span class="contador">Adesivo 1 de 3</span>
		</div>

    <div class="image-car">
    	<span></span>
    </div>

		<h3 class="page-subtitle">Ativação realizada!</h3>
		<p>Você tem mais <strong>0</strong> adesivos para ativar</p>

		<div class="row-btns">
			<button type="button" class="btn btn-boxed">vamos lá!</button>
			<button type="button" class="btn btn-vazado">ativar depois</button>
		</div>
	</div>
</div>

<cc-footer></cc-footer>
