<div class="container-fluid container-flux">
	<div class="row">
		<div class="col-lg-6 col-bg">
			<div class="bg-img image"></div>
			<div class="logconectcar"></div>
			<div class="txt-content">
				<div class="valign">
          <cc-baixe-app></cc-baixe-app>
        </div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="justify-content">
				<div class="valign">
					<h1>Como instalar</h1>
					<p>Digite o número do adesivo que você vai colar no seu veículo</p>
					<div class="retrovisor">
						<span class="icon"></span>
					</div>
					<p>Retire a fita protetora do adesivo. Instale seu ConectCar na parte de dentro do para-brisa, a quatro dedos do topo do vidro e o mais centralizado possível. Ele deve ficar na horizontal e com a marca para cima.</p>
					<p class="small">Em alguns modelos de veículo e veículos pesados, existem condições especiais para instalação, acesse e confira:</p>
					<div class="text-center linker">
						<a href="">Instalação para veículos especiais</a>
					</div>
			    <hr />
					<p>Em caso de dúvidas entre em contato conosco</p>
					<div class="links">
						<div class="lnk">
							<span class="icon chat"></span> <span class="txt">Chat online</span>
						</div>
						<div class="lnk">
							<span class="icon phone"></span> <span class="txt">Central de relacionamento</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<cc-footer></cc-footer>
