<div class="wrapper-app-call">
	<p>Baixando nosso <strong>app</strong> você tem uma experiência mais completa!</p>
  <div class="mkt-app text-center">
    <a href="https://drive.google.com/open?id=0Bxp7flsbnxvOZlF3Y0xLNzlXN3c" target="_blank">
      <span class="btn_app btn_google_play"></span>
    </a>
    <a href="https://drive.google.com/open?id=0Bxp7flsbnxvOdEUtRUY2dzZwdmM" target="_blank">
      <span class="btn_app btn_apple"></span>
    </a>
  </div>
  <a href="javascript:;" (click)="dismiss()">já baixei, obrigado</a>
</div>
