<cc-header [restrict]="true"></cc-header>

<div class="alterar-senha-sucesso">
  <div class="titulo">
    <h1>{{ R.R('senha_alteracao_sucesso_titulo') }}</h1>
  </div>

  <div class="clearfix container-wraper">
    <div class="text-center m-b-md">
      <div class="image-checked"></div>

      <h2 class="m-b-md">{{ R.R('senha_alteracao_sucesso_texto') }}</h2>

      <button
        class="btn btn-boxed"
        routerLink="/meu-conect/extrato">
        {{ R.R('senha_alteracao_sucesso_btn_voltar') }}
      </button>
    </div>
  </div>
</div>
