<div class="view password-view" [ngClass]="{ login: toLogin || loginFlow }">
  <div *ngIf="!toLogin && !loginFlow">
    <h2 [innerHTML]="R.R('cadastro_password_titulo')"></h2>
    <h3 [innerHTML]="R.R('cadastro_password_subtitulo')"></h3>
  </div>

  <div *ngIf="toLogin && !loginFlow">
    <h2 [innerHTML]="R.R('cadastro_password_senha_atual')"></h2>
    <h3 [innerHTML]="R.R('cadastro_password_subtitulo')"></h3>
  </div>

  <div *ngIf="toLogin && loginFlow">
    <h2 [innerHTML]="R.R('login_password_digite_senha')"></h2>
    <h3>{{ cpf }}</h3>
  </div>

  <div class="form-group" style="position: relative;"
    [ngClass]="{'has-danger': password.length && password.invalid && (password.dirty || password.touched)}">

    <input required #passwordInput
      [formControl]="password"
      focus-watcher
      name="password"
      id="password"
      tabindex="1"
      class="form-control"
      [type]="passwordType"
      [attr.disabled]="!!persisted ? '' : null"
      [cc-placeholder]="'Senha'"
      (input)="disabled = (password.value.length === 0 || !password.valid)"
      (keydown.enter)="submit($event)"
    >

    <p *ngIf="toLogin" class="esqueci hide-on-mobile-input">
      <a routerLink="/esqueci">esqueci minha senha</a>
    </p>

    <div *ngIf="!toLogin || loginFlow">
      <button
        class="password-type-toggle"
        (click)="passwordToggle($event)"
        [ngClass]="{ active: passwordType === 'text' }">
      </button>

      <div *ngIf="!toLogin && !loginFlow" class="password-criteria">
        <button
          class="password-type-toggle"
          (click)="passwordToggle($event)"
          [ngClass]="{ active: passwordType === 'text' }">
        </button>

        <ul class="first">
          <li [ngClass]="{ ok: !password.errors || !password.errors.noUpperCase }">
            <small>Uma maiúscula</small>
          </li>
          <li [ngClass]="{ ok: !password.errors || !password.errors.noLowerCase }">
            <small>Uma minúscula</small>
          </li>
        </ul>

        <ul>
          <li [ngClass]="{ ok: !password.errors || !password.errors.noNumbers }">
            <small>Um número</small>
          </li>
          <li [ngClass]="{ ok: !password.errors || !password.errors.minLength }">
            <small>Mínimo de 8 caracteres</small>
          </li>
        </ul>
      </div>
    </div>

    <div class="action" [ngClass]="{ login: toLogin && !loginFlow }">
      <button
        (click)="back($event)"
        (touchstart)="back($event)"
        class="voltar"
        tabindex="3"
      >Voltar</button>

      <button
        [ngClass]="{ avancar: true, disabled: !loginFlow && disabled }"
        (touchstart)="submit($event)"
        (click)="submit($event)"
        tabindex="2"
        id="next-button"
        >{{ toLogin && !loginFlow ? 'Confirmar' : 'Avançar' }}</button>
    </div>
  </div>
</div>
